{%load static%}
<div class="navbar">
    <ul class="navbar-left">
        <li>
            <a class="logo" href="{% url 'home' %}">
                AEM
            </a>
        </li>
        <li>
            <a href="">
                Petitions
            </a>
        </li>
        <li>
            <a href="">
                About Us
            </a>
        </li>
    </ul>
    <ul class="navbar-right">
        {% if request.user.is_authenticated %}
            {% if request.user.is_staff %}
                <li>
                    <a href="/admin">
                        Admin Panel
                    </a>
                </li>
            {% endif %}
            <li>
                <a href = "">
                    Welcome, 
                </a>
            </li>
            <li>
                <a href="">
                    Logout
                </a>
            </li>
            {% else %}
            <li>
                <a href="">
                    Login/Register
                </a>
            </li>
        {% endif %}
    </ul>
</div>
